<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>About Page</title>
    </head>
    <body>
        <!-- the name of file.--> 
        {{> header }}

        <!-- Double curly bracket as shown below is used
        for enbracing property sent from js file. -->
        
        <h1>{{title}}</h1>
        <p>Some text here</p>

        <!-- to deploy "./partials/footer.hbs" -->
        <!-- the name of file.--> 
        {{> footer}}
    </body>

</html>